steam-haptics-singer 
*.mid
*.midi
*.opus
*.wav
*.exe
*.m4a
range
steam-haptics-player
measure

ReverseEngineering/hmm
ReverseEngineering/Steam

# just hide latest one for now
ReverseEngineering/FW-6A628345
PCM
dist
build